# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Environments
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 
poetry.lock

# Oauth
oidc.key

#Docker
docker_volume
docker_volume/*
.kong_data
.kong_data/*

storage
storage/*

.idea/
.vscode/

.kong_data/
.mysql_data/
services/search/keys.env
